
h1 {
  justify-content: center;
  font-family: 'Nunito', sans-serif;
  font-weight: bold;
  text-align: center;
  color: pink;
  font-size: 40px;

}

.Home--Vehicle {
  flexbox: flex;
  padding-left: 20%;
  width: 63%;
  justify-content: center;

}

@media screen and (max-width: 768px) {

  app,
  body,
  // img,
  h1 {
    width: 63%;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
}

@media screen and (max-width: 320px) {

  app,
  body,
  // img,
  h1 {
    width: 63%;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
}