h1 {
  padding-left: 20px;
  justify-content: center;
  font-family: 'Nunito', sans-serif;
  font-weight: bold;
  text-align: center;
  color: pink;
  font-size: 40px;

  // @media only screen and (max-width: 650px) {
  //   font-size: 30px;
  // }

  // @media only screen and (max-width: 1115px) {
  //   padding-left: unset;
  // }
}

img {
  flexbox: flex;
  padding-left: 18%;
  width: 63%;
  justify-content: center;

  // @media only screen and (max-width: 650px) {
  //   justify-content: center;
  // }

  // @media only screen and (max-width: 1115px) {
  //   padding-left: unset;
  // }
}

@media screen and (max-width: 768px){
  app, body{
    width: 100%;
  }
}

@media screen and (max-width: 320px){
  app, body{
    width: 100%;
  }
}