.header {
  background-color: #5295ffe0;
  height: 140px;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 25px (1fr)[7] 25px;
      grid-template-columns: 25px repeat(7, 1fr) 25px;
  -ms-grid-rows: 1fr;
      grid-template-rows: 1fr;
}

.h1 {
  padding-left: 50px;
  color: #fff;
}

.Home-Link {
  margin-left: 20%;
}

.nav {
  -ms-grid-column: 2;
  grid-column: 2;
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
}

.header--links {
  -ms-grid-column: 7;
  -ms-grid-column-span: 2;
  grid-column: 7/ span 2;
  color: #fff;
  -ms-flex-item-align: center;
      align-self: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  justify-self: self-end;
}

.header--links a:first-child {
  margin-right: 20px;
}

a {
  text-decoration: none;
}

.footer {
  background-color: #242423;
  height: 150px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

@media only screen and (max-width: 650px) {
  .footer {
    height: auto;
    padding: 10px 0 20px 0;
  }
}

.footer--text {
  text-align: center;
  font-weight: bold;
  padding-bottom: 5px;
}

.footer--details {
  width: 80%;
  display: center;
  color: #fff;
}

@media only screen and (max-width: 650px) {
  .footer--details {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    padding: 20px 0;
  }
}

.footer--details-container {
  -ms-grid-column: 1;
  grid-column: 1;
  grid-row: 1 / -1;
  -ms-grid-column-align: center;
      justify-self: center;
}

.sei-developers {
  -ms-grid-column: 4;
  -ms-grid-column-span: 2;
  grid-column: 4 / span 2;
  -ms-grid-row: 2;
  -ms-grid-row-span: 2;
  grid-row: 2 / span 2;
  -ms-grid-column-align: center;
      justify-self: center;
}

@media only screen and (max-width: 650px) {
  .sei-developers {
    margin: 10px 0;
  }
}

.Login {
  width: 50vw;
  max-width: 600px;
  height: 35vh;
  background: #f9f9f9;
  border-radius: 5px;
  -webkit-box-shadow: 5px 5px 20px rgba(0, 0, 0, 0.4);
          box-shadow: 5px 5px 20px rgba(0, 0, 0, 0.4);
}

@media only screen and (max-width: 650px) {
  .Login {
    width: 80vw;
  }
}

.login--form {
  height: 50%;
  padding: 10px 5px 10px 10px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 50%;
  margin: auto;
}

.login--form input {
  height: 50%;
  padding: 10px 5px 10px 10px;
  font-size: 16px;
  margin: 20px 0px;
  border: none;
}

.login--form label {
  margin: 0;
}

.login-button {
  border: none;
  background: #3277a8;
  color: #fff;
  padding: 10px 5px;
  margin: 25px;
  border-radius: 5px;
  font-size: 16px;
  border: 1px solid transparent;
  -webkit-transition: all 500ms ease-in-out;
  transition: all 500ms ease-in-out;
  cursor: pointer;
  -webkit-box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.4);
          box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.4);
}

.login-button:hover {
  border: 1px solid #fff;
  background: #32a898;
  color: #333;
}
/*# sourceMappingURL=Shared.css.map */