.header {
  background-color: #5295ffe0;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  width: 100vw;
  height: 140px;

}

.nav {
  grid-column: 2;
  align-self: center;
}

.header--links {
  grid-column: 7/ span 2;
  color: pink;
  align-self: center;
  display: flex;
  justify-self: self-start;

  a:first-child {
    margin-right: 20px;
  }
}

.header--login {
  color: pink;
  font-size: 20px;
}

.header--create {
  color: pink;
  font-size: 20px;
}

a {
  text-decoration: none;
}

.footer {
  background-color: #242423;
  height: 20vh;
  display: flex;



  &--text {
    text-align: center;
    font-weight: bold;
    padding-bottom: 5px;
  }

  &--details {
    display: center;
    color: pink;
  }
}

.footer--details-container {
  flex: 1;
  grid-column: 1;
  grid-row: 1 / -1;
  justify-self: center;
}

.sei-developers {
  grid-column: 4 / span 2;
  grid-row: 2 / span 2;
  justify-self: center;
}

.login--wrapper {
  flex: 1 1;
  height: 70vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.Login {
  width: 50vw;
  max-width: 600px;
  height: 50vh;
  background: #f9f9f9;
  border-radius: 5px;
  box-shadow: 5px 5px 20px rgba(0, 0, 0, 0.4);


}

.login--form {
  height: 50%;
  padding: 10px 5px 10px 10px;
  display: flex;
  flex-direction: column;
  width: 50%;
  margin: auto;

  & input {
    height: 50%;
    padding: 10px 5px 10px 10px;
    font-size: 16px;
    margin: 20px 0px;
    border: none;
  }

  & label {
    margin: 0;
  }
}

.login-button {
  border: none;
  background: #3277a8;
  color: #fff;
  padding: 10px 5px;
  margin: 25px;
  border-radius: 5px;
  font-size: 16px;
  border: 1px solid transparent;
  transition: all 500ms ease-in-out;
  cursor: pointer;
  box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.4);

  &:hover {
    border: 1px solid #fff;
    background: pink;
    color: #333;
  }
}

@media screen and (max-width: 768px) {

  app,
  body {
    width: 100%;
  }
}

@media screen and (max-width: 320px) {

  app,
  body {
    width: 100%;
  }
}