
.vehicle--image {
  display: grid;
  flex-direction: grid;
  width: 65%;
  margin-right: 2%;
  padding-left: 5%;
  background-color: #5295ffe0;
  grid-template-columns: 25px repeat(7, 1fr) 25px;
  grid-template-rows: 1fr;


  &--content {
    display: flex;
    flex-direction: column;
  }

}

h3 {
  justify-content: center;
  font-family: 'Nunito', sans-serif;
  font-weight: bold;
  text-align: center;
  color: #5295ffe0;
  font-size: 40px;
}

.all--vehicles {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;

}

.vehicles {
  width: 28%;
  padding-left: 20%;
  justify-content: center;

  &--img {
    width: 25%;
  }
}

.vehicle--content {
  color: pink;
  font-size: 20px;
  font-family: 'Nunito', sans-serif;
  font-weight: bold;
  text-align: center;
  border-radius: 50px;
  border-color: powderblue;
}

.edit-button {
  background-color: #5295ffe0;
  border: none;
  color: black;
  padding: 3px 10px;
  border-radius: 20%;
  text-align: center;
  font-size: 16px;
  margin: 4px 2px;
  opacity: 0.1;
  transition: 0.3s;
  display: inline-block;
  text-decoration: none;
  cursor: pointer;

}

.delete-button {
  background-color: #e34bba;
  border: none;
  color: black;
  padding: 3px 10px;
  border-radius: 20%;
  text-align: center;
  font-size: 16px;
  margin: 4px 2px;
  opacity: 0.1;
  transition: 0.3s;
  display: inline-block;
  text-decoration: none;
  cursor: pointer;

}

.button-container {
  display: flex;
  justify-content: center;
}


.edit-button:hover {
  opacity: 1
}

.delete-button:hover {
  opacity: 1
}

@media screen and (max-width: 768px) {

  app,
  body,
  .all--vehicles,
  .edit-button,
  .delete-button {
    width: fit-content;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
}

@media screen and (max-width: 320px) {

  app,
  body,
  .all--vehicles,
  .edit-button,
  .delete-button {
    width: fit-content;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
}